div, h1{
    text-align: center;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 25% ; 
    background-repeat: no-repeat; 
    width:25%; 
    text-align: center; 
    border: 3px solid green;
}

figure.Democratic{
    background-image: url(../img/DemocraticLogo.png);
}

figure.Republican{
    background-image: url(../img/Republicanlogo.png);
}

figure img{
    width: 50%;
}